*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: black;
	font: 400 15px/22px Arial sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
	transition: .4s;
}

img {
	max-width: 100%;
}

ul li {
	list-style-type: none;
}

button {
	display: block;
	border: none;
	font: inherit;
	background-color: transparent;
	cursor: pointer;
	transition: .4s;
}